body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

img.pokemon-img, img.pokemon-img-mobile {
  display: block;
  object-fit:contain;
}

img.pokemon-img {
  height: 300px;
  width: 300px;
}

img.pokemon-img-mobile {
  height: 150px;
  width: 150px;
}

figure {
  overflow: auto;
  display: flex;
  margin: 0;
}

figure img {
  float: left;
  margin: auto 0.5em auto 0;
  height: 70px;
  width: 70px;
}

figcaption {
  margin: auto 0;
}

table {
  margin: auto;
  width: auto;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
}

.ranking-table, .ranking-header-cell, .ranking-body-cell {
  border: 1px solid #ccc;
  border-collapse: separate;
  border-spacing: 0
}

.ranking-table {
  border-spacing: 0;
  margin-bottom: 2em;
}

.ranking-header-cell, .ranking-body-cell {
  padding: 5px;
}

.ranking-header-cell {
  background-color: #ddd;
  color: #212121
}

.ranking-body-cell {
  font-size: 0.8em;
  font-weight: normal;
}

td.name {
  text-align: left;
}

td.change {
  text-align: center;
}

div.change {
  display: inline-block;
  width: 55px;
  text-align: left;
}

span.change {
  display: inline-flex;
  align-items: center;
}

span.change-amount {
  margin-left: 0.5em;
}

table caption {
  text-align: center;
  text-transform: uppercase;
}

tbody.ranking-body tr:nth-child(odd) {
  background: #eee
}

th.line-break, td.line-break {
  padding-bottom: 0.83em;
}

td.higher-stat {
  color:darkgreen;
}

td.lower-stat {
  color:darkred;
}

td.visible {
  visibility: visible;
}

td.invisible {
  visibility: hidden;
}

button {
  margin: 10px;
  font-size: 15px;
}

#end-buttons {
  text-align: center;
}

.ranking-parent {
  text-align: center;
}

label {
  margin-right: 0.3333em;
}

select {
  margin-bottom: 1.5em;
  margin-right: 1.5em;
}