body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

img.pokemon-img, img.pokemon-img-mobile {
  display: block;
  object-fit:contain;
}

img.pokemon-img {
  height: 300px;
  width: 300px;
}

img.pokemon-img-mobile {
  height: 150px;
  width: 150px;
}

figure {
  overflow: auto;
  display: flex;
  margin: 0;
}

figure img {
  float: left;
  margin: auto 0.5em auto 0;
  height: 70px !important;
  width: 70px !important;
}

figcaption {
  margin: auto 0;
}

table, th, td {
  text-align: center;
}

table {
  margin: auto;
  width: auto;
  font-size: 1.25em;
  font-weight: bold;
}

.main-section, .main-section-header, .main-section-cell {
  border: none;
}

.main-section-header {
  background-color: #fff;
  color: #000;
}

.main-section-cell {
  
}

.main-section-body tr {
  background: #fff;
}

td.name {
  text-align: left;
}

td.change {
  text-align: center;
}

div.change {
  display: inline-block;
  width: 55px;
  text-align: left;
}

span.change {
  display: inline-flex;
  align-items: center;
}

span.change-amount {
  margin-left: 0.5em;
}

td.higher-stat {
  color:darkgreen;
}

td.lower-stat {
  color:darkred;
}

td.visible {
  visibility: visible;
}

td.invisible {
  visibility: hidden;
}

button {
  margin: 10px;
  font-size: 15px;
}

#end-buttons {
  text-align: center;
}

.ranking-parent {
  text-align: center;
}

label {
  margin-right: 0.3333em;
  font-weight: normal;
}

select {
  margin-bottom: 1.5em;
  margin-right: 1.5em;
}