body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.loading {
  text-align: center;
}

div.loading-container {
  display: inline-flex;
  text-align: left;
  width: 7.em;
}

h1 {
  margin-top: 1.4em;
  margin-bottom: 0.55em;
}

#pokemon-images {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

img.pokemon-img {
  height: 100%;
  max-height: 300px;
  width: 100%;
  max-width: 300px;
}

img.ranking-img {
  height: 100%;
  max-height: 70px;
  width: 100%;
  max-width: 70px;
}

figure {
  overflow: auto;
  display: flex;
  margin: 0;
}

figure img {
  float: left;
  margin: auto 0.5em auto 0;
}

figcaption {
  margin: auto 0;
}

table, th, td {
  text-align: center;
}

table {
  margin: auto;
  width: auto;
  font-size: 1em;
  font-weight: bold;
}

table caption {
  color: inherit;
  padding-top: 0;
  text-transform: none;
}

th, td {
  padding: 0.2em;
}

.main-section, .main-section-header, .main-section-cell {
  border: none;
}

.main-section {
  width: 50%;
  table-layout: fixed;
}

.main-section-header {
  background-color: #fff;
  color: #000;
}

.main-section-cell {
  
}

.main-section-body tr {
  background: #fff;
}

.center-column {
  width: 8.5em;
}

.ranking-table {
  margin-bottom: 2em;
}

.ranking-header-cell {
  background-color: #ddd;
  color: #212121;
}

th.sort-header {
  cursor: pointer;
}

span.sort-header {
  display: inline-flex;
  align-items: center;
}

.sort-header-title {
  margin-right: 0.2em;
}

.ranking-body-cell {
  font-weight: normal;
}

td.name {
  text-align: left;
}

td.change {
  text-align: center;
}

div.change {
  display: inline-block;
  width: 3.5em;
  text-align: left;
}

span.change {
  display: inline-flex;
  align-items: center;
}

span.change-amount {
  margin-left: 0.5em;
}

td.higher-stat {
  color:darkgreen;
}

td.lower-stat {
  color:darkred;
}

td.visible {
  visibility: visible;
}

td.invisible {
  visibility: hidden;
}

.line-break {
  padding-bottom: 0.83em;
}

button {
  font-size: 0.8em;
}

button.selected, button.selected:hover {
  border: solid 2px #000 !important;
}

#end-buttons {
  text-align: center;
  font-size: 1em;
  margin: 1em;
}

.ranking-parent {
  text-align: center;
}

label {
  margin-right: 0.3333em;
  font-weight: normal;
}

.radio {
  margin-left: 2px;
  margin-bottom: 1.5em;
  margin-right: 1.5em;
}

select {
  margin-bottom: 1.5em;
}

@media (max-width: 992px) {
  .main-section {
    width: 70%;
  }
}

@media (max-width: 900px) {
  input {
    width: auto;
  }
}

@media (max-width: 610px) {
  .main-section {
    width: 80%;
  }
}

@media (max-width: 560px) {
  .main-section {
    width: 90%;
  }
}

@media (max-width: 525px) {
  table, #end-buttons, button {
    font-size: 0.9em;
  }

  img.ranking-img {
    max-width: 60px;
    max-height: 60px;
  }
}

@media (max-width: 440px) {
  .main-section {
    width: 100%;
  }
}

/* @media (max-width: 420px) {
  table, #end-buttons {
    font-size: 0.7em
  }

  button {
    font-size: 0.9em;
  }

  img.ranking-img {
    max-width: 50px;
    max-height: 50px;
  }
} */